In [8]:
import os
import pandas as pd
from google.cloud import bigquery
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "../bigquery_creds.json"
client = bigquery.Client()         # Start the BigQuery Client
# Input your Query Syntax here; You may try it first at https://console.cloud.google.com/bigquery
QUERY = ("""
    SELECT * FROM `housecanary-com.sample.zip_ts`
    TABLESAMPLE SYSTEM (0.5 PERCENT);
""")
query_job = client.query(QUERY)    # Start Query API Request
query_result = query_job.result()  # Get Query Result
df = query_result.to_dataframe()   # Save the Query Resultto Dataframe
# ---------------------------------------------
# ---- Continue Data Analysis with your DF ----
# ---------------------------------------------

In [9]:
df.sample(3).T

                          836         1618        1339
zip                      94114       94598       94598
msa                      41860       41860       41860
month               1997-08-01  2015-09-01  1992-06-01
hpi_value            51.136849  192.098238   59.958565
hpi_yoy_pct_chg       0.053237     0.10833   -0.005401
hpi_distance         -1.229011    0.121992   -0.422382
hpi_returns           1.009376    1.004057    0.999069
hpi_real              55.52546  141.242162   74.723522
hpi_trend            90.691459  188.912274   70.989591
afford_detrended     -1.102804   -0.760676    0.012403
afford_pmt            0.567439    0.466686     0.40809
acceleration_value    0.006277    0.001323   -0.001835
velocity_value        0.051868    0.102854   -0.005416