In [2]:
import os
import pandas as pd
from google.cloud import bigquery
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "../bigquery_creds.json"
client = bigquery.Client()         # Start the BigQuery Client
# Input your Query Syntax here; You may try it first at https://console.cloud.google.com/bigquery
QUERY = ("""
    SELECT * FROM `housecanary-com.sample.block_value_ts` LIMIT 1000;
""")
query_job = client.query(QUERY)    # Start Query API Request
query_result = query_job.result()  # Get Query Result
df = query_result.to_dataframe()   # Save the Query Resultto Dataframe
# ---------------------------------------------
# ---- Continue Data Analysis with your DF ----
# ---------------------------------------------

In [3]:
df

            block_id property_type       month  value_50  value_sqft_50
0    060750162003002           SFD  1993-05-01    518545         331.96
1    060750162003002           SFD  1993-06-01    502384         322.20
2    060750162003002           SFD  1993-07-01    487607         313.22
3    060750162003002           SFD  1993-08-01    473339         304.49
4    060750162003002           SFD  1993-09-01    458523         295.43
..               ...           ...         ...       ...            ...
995  060133373006007           SFD  1997-11-01    374300         184.34
996  060133373006007           SFD  1997-12-01    377028         186.17
997  060133373006007           SFD  1998-01-01    379962         188.12
998  060133373006007           SFD  1998-02-01    383031         190.14
999  060133373006007           SFD  1998-03-01    385934         192.02

[1000 rows x 5 columns]