In [1]:
import os
import pandas as pd
from google.cloud import bigquery
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "../bigquery_creds.json"
client = bigquery.Client()         # Start the BigQuery Client
# Input your Query Syntax here; You may try it first at https://console.cloud.google.com/bigquery
QUERY = ("""
    SELECT * FROM `weathersource-com.pub_weather_data_samples.sample_climatology_us_zipcode_daily_temperature` LIMIT 100;
""")
query_job = client.query(QUERY)    # Start Query API Request
query_result = query_job.result()  # Get Query Result
df = query_result.to_dataframe()   # Save the Query Resultto Dataframe
# ---------------------------------------------
# ---- Continue Data Analysis with your DF ----
# ---------------------------------------------

In [2]:
df

   postal_code country  doy_std  avg_of__daily_avg_temperature_air_f
0        08243      US      159                                  NaN
1        98292      US      159                                  NaN
2        02191      US      159                                  NaN
3        97367      US      159                                 55.0
4        13690      US      159                                 61.2
..         ...     ...      ...                                  ...
95       04649      US      159                                 55.7
96       12701      US      159                                 63.7
97       12751      US      159                                 63.7
98       14865      US      159                                 65.9
99       02804      US      159                                 64.3

[100 rows x 4 columns]